@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  font-size: 1.8rem;
  text-decoration: none;
  font-family: 'Work Sans', sans-serif;
  color: #363636;
}
a:hover {
  color: #46d2a3;
  padding: 10px 0;
  border-bottom: 3px solid #46d2a3;
}
header .navBar {
  position: fixed;
  z-index: 9000;
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 25px 0;
  box-shadow: 10px 0px 4px rgba(0, 0, 0, 0.5);
}
header .navBar .imgContainer {
  width: 50%;
}
header .navBar .navLinks {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}
.farmPic {
  width: 100%vw;
  height: 3%vh;
}
.mission {
  margin-top: 8%;
  width: 50%;
  margin: 8% auto;
}
.mission h2 {
  text-align: center;
  margin: 5% auto;
  padding-bottom: 5%;
  font-size: 3.5rem;
  border-bottom: 3px solid #46d2a3;
  width: 50%;
}
.mission p {
  text-align: center;
}
.packages {
  text-align: center;
}
.packages h2 {
  text-align: center;
  margin: 5% auto;
  padding-bottom: 3%;
  font-size: 3.5rem;
  border-bottom: 3px solid #46d2a3;
  width: 25%;
}
.packages h3 {
  font-size: 2.5rem;
  margin: 5% 0;
}
.packages p {
  font-size: 1.8rem;
  margin: 0 2%;
}
.packages .twoRow {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 80%;
}
.packages .twoRow .staff {
  width: 33%;
  padding: 5px;
  border: 2px solid #4e4e4e;
}
.packages .twoRow .client {
  width: 33%;
  padding: 5px;
  border: 2px solid #4e4e4e;
}
.packages .threeRow {
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  width: 90%;
}
.packages .threeRow .sad {
  width: 30%;
  padding: 5px;
  border: 2px solid #4e4e4e;
}
.packages .threeRow .credit {
  width: 30%;
  padding: 5px;
  border: 2px solid #4e4e4e;
}
.packages .threeRow .cord {
  width: 30%;
  padding: 5px;
  border: 2px solid #4e4e4e;
}
