header {
    .navBar{
        position: fixed;
        z-index: 9000;
        display: flex;
        width: 100%;
        background-color: #fff;
        padding: 25px 0;
        box-shadow: 10px 0px 4px rgba(0, 0, 0, .5);
        .imgContainer{
            width: 50%;
        }
        .navLinks{
            display: flex;
            align-items: center;
            width: 50%;
            justify-content: space-around;
        }
    }
}

